{% extends 'base_home.html' %}
{% block body_class %}home-page{% endblock %}

{% block content %}
     <div id="caseworx-logo">
        <img src="{{ STATIC_URL }}/img/logo.png" />
    </div>
    <div id="beta">
        <form method="POST" action="{{ action }}" class="beta-form">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
            <p>{{ form.email.errors }}</p>
            {{ form.email }}
            <button type="submit" name="Submit">Apply for Beta</button>
        </form>
        <a href="/investors" class="ghost button">Investors</a>
        <a href="/educators" class="ghost button">Educators</a>
    </div>

{% endblock %}